@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

h3 {
  margin-bottom: 0;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  border: 3px solid white;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.left-top {
  border-top: 0;
  border-left: 0;
}

.left-middle {
  border-left: 0;
}

.left-bottom {
  border-left: 0;
  border-bottom: 0;
}

.center-top {
  border-top: 0;
}

.center-bottom {
  border-bottom: 0;
}

.right-top {
  border-top: 0;
  border-right: 0;
}

.right-middle {
  border-right: 0;
}

.right-bottom {
  border-right: 0;
  border-bottom: 0;
}

.tic {
  font-size: 12rem;
  color: #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  align-items: center;
}

input[type="checkbox"],
label {
  font-size: 1.57rem;
}

.tic-x,
.tic-o {
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: black;
}

.tic-x:hover,
.tic-o:hover {
  background-color: #b5b5b5;
  color: white;
}

.info-tic {
  font-size: 2.17rem;
}

.score {
  font-size: 2.18rem;
}

.player1,
.player2,
.computer,
.tie {
  text-align: center;
}
